---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Perfil</div>
  </div>

  <div class="mb-10 text-justify">
    Soy un desarrollador de software con experiencia en múltiples tecnologías y
    un enfoque en soluciones innovadoras y eficientes. Mi carrera abarca desde
    el desarrollo de proyectos web increíbles hasta la creación de sistemas
    internos de inteligencia artificial. Siempre busco optimizar y automatizar
    procesos para mejorar la eficiencia y la calidad del producto final.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Educación</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Ingeniería en Desarrollo y Gestión de Software"
      subtitle="Desde 2023 hasta la actualidad en Universidad Tecnológica de Cancún, Cancún, México"
    />
    <TimeLineElement
      title="T.S.U. en Tecnologías de la Información Área Desarrollo de Software Multiplataforma"
      subtitle="Desde 2021 hasta 2023 en Universidad Tecnológica de Cancún, Cancún, México"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experiencia</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Desarrollador de Software"
      subtitle="Desde Julio 2024 a la actualidad en ASC Education, Cancún, México"
    >
      Actualmente, desarrollo y mantengo múltiples sistemas web dentro de la
      empresa. Mi principal responsabilidad es la creación de soluciones de
      inteligencia artificial internas para consultas y automatización de
      procesos dentro de la empresa, mejorando significativamente la eficiencia
      operativa.
    </TimeLineElement>
    <TimeLineElement
      title="Desarrollador Web"
      subtitle="Desde Julio 2021 a Julio 2024 de forma independiente, Cancún, México"
    >
      Como freelance, trabajé en proyectos destacados, incluyendo el desarrollo
      de múltiples landing pages para diversas empresas y un ERP utilizando
      Angular y .NET C#. Mis responsabilidades incluyeron la implementación
      completa y la resolución de incidencias técnicas, asegurando soluciones
      eficientes y de alta calidad.
    </TimeLineElement>
    <TimeLineElement
      title="Desarrollador Web"
      subtitle="Desde Febrero 2021 a Julio 2021 en Ozelot Technologies, Cancún, México"
    >
      En Ozelot Technologies, me enfoqué en el desarrollo de vistas y la
      resolución de incidencias relacionadas con bases de datos y bugs del
      sistema. Mi trabajo ayudó a mejorar la velocidad con la que se
      solucionaban las incidencias, permitiendo a mis compañeros concentrarse en
      sus otras tareas y contribuyendo a la estabilidad y funcionalidad de los
      sistemas.
    </TimeLineElement>
  </div>

  <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certificaciones</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul> -->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Habilidades</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>HTML</li>
    <li>CSS</li>
    <li>JavaScript</li>
    <li>TypeScript</li>
    <li>.NET C#</li>
    <li>React</li>
    <li>Angular</li>
    <li>Vue</li>
    <li>Tailwind</li>
    <li>Bootstrap</li>
    <li>Git</li>
    <li>SQL</li>
    <li>NoSQL</li>
  </ul>
</BaseLayout>
